on:
  push:
    branches:
      - 'main'
      - 'release/*'

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for OIDC
      contents: read
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@v2
        with:
          egress-policy: audit

      - name: Extract Branch Name
        shell: bash
        run: echo "branch=${GITHUB_REF#refs/heads/}" >> $GITHUB_OUTPUT
        id: extract_branch

      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ github.token }}
          release-type: node

      # The logic below handles the npm publication:
      - name: Checkout
        uses: actions/checkout@v4
        # these if statements ensure that a publication only occurs when
        # a new release is created:
        if: ${{ steps.release.outputs.release_created }}

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
        if: ${{ steps.release.outputs.release_created }}

      - name: Update npm # for oidc authentication compatibility
        run: npm install -g npm@latest

      - name: Install Dependencies
        run: npm ci
        if: ${{ steps.release.outputs.release_created }}

      - name: Build Package
        run: npm run build
        if: ${{ steps.release.outputs.release_created }}

      - name: Publish Package to NPM
        run: npm publish
        if: ${{ steps.release.outputs.release_created }}
