on:
  push:
    branches:
      - 'main'
      - 'release/*'

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      contents: write
      pull-requests: write
    outputs: 
      release_created: ${{ steps.release.outputs.release_created }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@v2
        with:
          egress-policy: audit

      - name: Extract Branch Name
        shell: bash
        run: echo "branch=${GITHUB_REF#refs/heads/}" >> $GITHUB_OUTPUT
        id: extract_branch

      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ github.token }}
          release-type: node

  npm-publish:
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    uses: ./.github/workflows/npm-publish.yml
