name: Tests

on: pull_request

jobs:
  run-tests:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Run Tests
        run: npm run test:no-logging
      
      - name: Run Lint Checks
        run: |
          npm run check:lint

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./reports/coverage
      
      - name: Update sonar-project.properties
        run: |
          # Retrieve the version from package.json
          version=$(node -e "console.log(require('./package.json').version)")
          # Update the sonar-project.properties file with the version
          sed -i "s/sonar.projectVersion=.*$/sonar.projectVersion=$version/" sonar-project.properties
      
      - name: Fix filesystem paths in generated reports
        if: always()
        run: |
          sed -i 's+home/runner/work/rudder-workflow-engine/rudder-workflow-engine+/github/workspace+g' reports/coverage/lcov.info
          sed -i 's+/home/runner/work/rudder-workflow-engine/rudder-workflow-engine+/github/workspace+g' reports/eslint.json
          
      - name: SonarCloud Scan
        if: always()
        uses: SonarSource/sonarqube-scan-action@2f77a1ec69fb1d595b06f35ab27e97605bdef703 # v5.3.2
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  